*{
    margin: 0;
    padding:0 ;
}

.welcome{
    color: white;
    stroke: black;
    stroke-width: 2px;
}

.division{
    padding-bottom: 120px;

    height: 100vh;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
}

.positioning{
    padding-top: 120px;
}

.first{
    background-image: url("../assets/Images/forest.png");
}

.second{
    background-image: url("../assets/Images/volcano.png");
    background-position: bottom;
}

.third{
    background-image: url("../assets/Images/space.jpg");
}

.divider{
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: visible;
}

.divider img{
    margin-top: -100px;
    width: 100%;
    height: 200px;
    position: absolute;
}

.start-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.start{
    width: 500px;
    height: 100px;

    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;


}

.forest h1{
    font-size: 80px;
}

.volcano h1{
    font-size: 80px;
    color: rgb(124, 46, 0);
}

.space h1{
    font-size: 80px;
    color: rgb(0, 89, 255);
    
}

.forest{
    background-color: green;
    border: 5px solid black;
}

.volcano{
    background-color: rgb(54, 35, 107);
    border: 5px solid rgb(241, 129, 0);
}

.space{
    background-color: rgb(162, 0, 255);
    border: 5px solid rgb(0, 89, 255);
}

.forest:hover{

    background-color: rgb(0, 231, 0);
    -webkit-box-shadow:0 0 20px rgb(0, 231, 0); 
    -moz-box-shadow: 0 0 20px rgb(0, 231, 0); 
    box-shadow:0 0 20px rgb(0, 231, 0);
}

.volcano:hover{
    
    -webkit-box-shadow:0 0 50px red; 
    -moz-box-shadow: 0 0 50px red; 
    box-shadow:0 0 50px red;
}

.volcano:hover h1{
    color: rgb(241, 129, 0);
}

.space:hover h1{
    color: rgb(71, 0, 153);
}

.space:hover{

    background-color: rgb(0, 89, 255);
    border-color: rgb(162, 0, 255);
    -webkit-box-shadow:0 0 20px rgb(162, 0, 255); 
    -moz-box-shadow: 0 0 20px rgb(162, 0, 255); 
    box-shadow:0 0 20px rgb(162, 0, 255);
}
