*{
    margin: 0;
    padding:0 ;
    font-family:fantasy;
}

.welcome{
    color: white;
    stroke: black;
    stroke-width: 2px;
}

.division{
    padding-bottom: 170px;

    min-height: 100vh;

    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positioning{
    padding-top: 120px;
}

.first{
    background-image: url("../assets/Images/forest.png");
}

.second{
    background-image: url("../assets/Images/volcano.png");
    background-position: bottom;
}

.third{
    background-image: url("../assets/Images/space.jpg");
}

.divider{
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: visible;
}

.divider img{
    margin-top: -100px;
    width: 100%;
    height: 200px;
}

.logo{
    margin-right: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 500px;
    align-self: center;
}

.logo h1{
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.logo h2{
    font-size: 40px;
    color: rgb(0, 231, 0);
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
    padding-bottom: 30px;
}